.screen,
.wall,
.content {
	transition: all 0.6s ease-in-out; 
}

.screen {
	height: 100%;
	width: 100%;
	
	background-color: #282c2f;

	z-index: 4;
	position: relative;
  perspective: 300px;
  overflow: hidden;

  background: linear-gradient(to top, #202124 0%, #202124 50% ,#202124 50% ,#202124 100%);
}
.hall {
	width: 100%;
  height: 100%;
  position: relative;

  top: 0;
  transform-style: preserve-3d;
}
.hall--r {
	top: -100%;
	transform: scaleX(-1);
}

.content {
	/*defaults to wall*/
	position: absolute;
	z-index: 99;
  height: 100%;
  width: 100%;
  transform: translateZ(-95vw);

  background-color: #323639;
}
.content[data-dist='1'] {
	transform: translateZ(-19vw);
}
.content[data-dist='2'] {
	transform: translateZ(-50vw);
}
.content[data-dist='3'] {
	transform: translateZ(-94vw);
}
.content[data-type='0'] {
	/*void*/
	background-color: transparent;
}
.content[data-type='1']:after {
	/*open door*/
	/*works for stairways*/
	content: '';
	position: absolute;
	bottom: 1rem;
	left: 20%;

	width: 60%;
	height: 80%;

  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: #202124;

  border-bottom: 10rem double #282c2f;
  border-right: 6rem solid #202124;
}
.content[data-type='2']:after {
	/*closed door*/
	content: '';
	position: absolute;
	bottom: 1rem;
	left: 20%;

	width: 60%;
	height: 80%;

  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
	background-color: #464a4d;
}
.content[data-type='3'] {
	/*wall*/
	background-color: #323639;
}
.content[data-type='4']:after {
	/*button (hidden or overt)*/
	content: '';
	position: absolute;
	top: 45%;
	left: 45%;

	width: 10%;
	height: 10%;
  border-radius: 12px;
	background-color: #464a4d;
}

.wall {
	position: absolute;
  height: 100%;
  width: 100%;

  transform-origin: left;
  background-color: #464a4d;
}

.wall--l[data-dist='1'] {
	transform: rotateY(90deg);
	width: 20%;
}
.wall--l[data-dist='2'] {
	transform: rotateY(90deg) translateX(60%);
	/*transform: rotateY(90deg) translateX(19vw);*/
	width: 33%;
}
.wall--l[data-dist='3'] {
	transform: rotateY(90deg) translateX(116%);
	/*transform: rotateY(90deg) translateX(51vw);*/
	width: 45%;
}

.wall[data-type='1'] {
	/*frontview walls*/
	background-color: #323639;
}
.wall[data-dist='1'][data-type='1'] {
  transform: rotateY(0deg) translateZ(-19vw) translateX(-96.5vw);
  width: 100%;
}
.wall[data-dist='2'][data-type='1'] {
  transform: rotateY(0deg) translateZ(-50vw) translateX(-96.5vw);
  width: 100%;
}
.wall[data-dist='3'][data-type='1'] {
  transform: rotateY(0deg) translateZ(-94vw) translateX(-96.5vw);
  width: 100%;
}
.wall[data-type='2'] {
	/*no wall*/
	background-color: transparent;
}

.wall[data-door='1']:after {
	/*open door*/
	/*works for stairways?*/
	content: '';
	position: absolute;
	bottom: 1rem;
	left: 20%;

	width: 60%;
	height: 80%;

  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: #202124;

  border-bottom: 10rem double #282c2f;
  border-right: 6rem solid #202124;
}
.wall[data-door='2']:after {
	/*closed door*/
	content: '';
	position: absolute;
	bottom: 1rem;
	left: 20%;

	width: 60%;
	height: 80%;

  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: #323639;
}
.wall[data-door='2'][data-type='1']:after {
	background-color: #464a4d;
}
.wall[data-door='3']:after {
	/*whoops, should call door type and type slant, TODO*/
	content: '';
	position: absolute;
	top: 45%;
	left: 45%;

	width: 10%;
	height: 10%;
  border-radius: 12px;
	background-color: #323639;
}
.wall[data-door='3'][data-type='1']:after {
	background-color: #464a4d;
}


.floor {
	position: absolute;
	z-index: 99;
  height: 100%;
  width: 100%;

  transform: rotateX(90deg) translateY(35vw);
  transform-origin: bottom center;
  border-radius: 100%;

  background-color: transparent;
}
.floor[data-dist='1'] {
	transform: rotateX(90deg) translateY(15vw) scaleY(0.59) scale(0.9);
}
.floor[data-dist='2'] {
	transform: rotateX(90deg) translateY(-19vw) scaleY(0.59) scale(0.9);
}
.floor[data-dist='3'] {
	transform: rotateX(90deg) translateY(-55vw) scaleY(0.59) scale(0.9);
}
.floor[data-type='1'] {
	/*water*/
	background-color: #4285f4;
}
.floor[data-type='2'] {
	/*lava*/
	background-color: #f63732;
}
.floor[data-type='3'] {
	/*magic?*/
	background-color: #f0a200;
}
.floor[data-type='4'] {
	/*pit*/
	background-color: #202124;
}

/* This adds a vaulted arches type of look to the walls, to make them less boring. Not perfect but eh. */
.wall,
.content {
	transform-style: preserve-3d;
}
.wall[data-type='0']:before, 
.wall[data-type='1']:before,
.content:not([data-type='0']):before {
	display: block;
    content: '';
    width: 100%;
	height: 75%;
	background: inherit;
	background: linear-gradient(to top, #323639 0%, #202124 100%);
    position: absolute;
    top: -75%;
    transform: rotateX(-22deg);
    transform-origin: bottom;
}
.wall[data-type='0']:before {
	height: 50%;
	top: -50%;
}
.wall[data-type='0']:before {
	background: linear-gradient(to top, #464a4d 0%, #202124 100%);
}